@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  background-color: #282c34;
  color: white;
}
.App {
  text-align: center;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
 margin-top: 20px;

}
.form-group{
  margin: 30px;
  margin-bottom: 10px;;
  
}
.lineup{
  text-decoration: line-through;
  color: lightgrey;
}
.nolineup{
  text-decoration: none
}
.addbtn{
margin:20px;
}